doctype 5
html(lang='en')
body
    #container
        #score
            #number1
            #number2
            #number3
            #number4
            #number5
            #number6
        #winners
            #count
            #list
    script(src='js/jquery.js')
    script(src='js/underscore.js')
    script(src='js/backbone.js')
    script(src='js/vitafit.js')
